*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  /* font-family: 'Roboto Slab', serif; */
}

.container {
  max-width: 1220px;
  margin: 5px auto;
  padding: 0 10px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  margin-left: 16px;
}

.phone {
  margin-right: 43px;
  margin-top: 11px;
}

.menu {
  margin-top: 20px;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  color: #001e64;
  font-size: 18px;
  line-height: 120%;
}

.menu__link:hover {
  border-bottom: 1px solid #001e64;
}

.header__content {
  background-image: url(../images/header-bg.png);
  width: 1920px;
  height: 1027px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  margin-top: -100px;
}

.title {
  font-family: Roboto Slab;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0em;
  color: #001e64;

  width: 500px;
  text-align: center;
  padding-left: 0px;
  padding-top: 250px;
  margin-bottom: 90px;
}

.header-slider {
  max-width: 420px;

  min-height: 200px;
  margin-left: 30px;
  /*---- height to arrow --- */
  padding-top: 50px;
  padding-bottom: 10px;
  /* padding-bottom: 130px; */
}

.header-slider__text {
  margin-bottom: 15px;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: -40px;
}

.slick-prev {
  top: 0;
}

.slick-next {
  bottom: 0px;
}

.slick-dots {
  list-style: none;
  position: absolute;
  left: -38px;
  /* top: 30px; */
  /* line-height: 450%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 40px;
  bottom: 50px;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.header__content-btn {
  font-family: Roboto Slab;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 2.5px;
  text-align: left;
  color: #ffffff;
  padding: 14px 78px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  /* position: absolute;
  left: 510px;
  bottom: -600px; */
  margin-left: 122px;
  display: inline-block;
  /* transform: translateY(-100px); */
}

.header__content-box {
  display: flex;
  margin-left: 90%;
  margin-top: -25px;
  /* margin-right: 30px; */
  /* width: 60px; */
  /* display: inline-block; */

  font-size: 18px;
  line-height: 120%;
  letter-spacing: 2.5px;
  color: #ffffff;
}

.header__content-link--active {
  font-weight: 700;
}

/* Main */

.main {
  width: 1112px;
  height: 590px;
  border: solid 2px red;
  margin: 10px auto;
}

.product {
  padding-top: 100px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
}

.product__name {
}

.product__content {
  width: 600px;
}
